.searchpage-body {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 15px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;

}

.search-form-container input {
    /* border: none; */
    border: solid transparent;
    border-bottom: solid #49b2e8 ;
    font-size: 18px;
    width: 100%;
    height: 25px;
    padding: 20px 20px;
    background-color: rgb(245, 245, 245);
}

.search-form-container input:focus{
    background-color: rgb(219, 219, 219);
    border: solid #49b2e8 ;
    outline: none;
}

.flex-search-input {
    flex: 9;
}

.search-form-container button {
    flex: 1;
}

.flex-search {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 100%;

}

.search-form-container .error-input {
    border-bottom-color: red;
}

.search-form-container .error-input:hover {
    border-bottom-color: darkred;
}

.search-form-container .error-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: red;
    font-weight: lighter;
    margin-top: 0;
}

.search-form-container .info-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #49b2e8  ;
    font-weight: lighter;
    /* margin-top: 0; */
}

.search-form-container .search-button {
    text-align: center;
    margin-top: 5%;
}

table {
    width: 100%;
}

h2 {
    font-size: 30px;
    text-align: center;
}

.btn {
    background-color: #49b2e8   !important;
    color: white !important;
}
