<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <link th:href="@{/css/searchpageStyles.css}" rel="stylesheet" type="text/css" />
        <div th:insert="~{fragments/general.html :: general_header}"></div>
    </head>

    <body>
        <!-- Navbar fragment -->
        <div th:insert="~{fragments/navbars.html :: navbar}"></div>

        <div class="searchpage-body">
            <h2>Reset Your Password:</h2>
            <p class="text-center">Please enter your email address, and we will email you with instructions on how to reset your password.</p>

            <br>
            <br>

            <div class="search-form-container">
                <form th:action="@{lostPassword}" method="post" class="form" id="form">


                    <div class="form-outline">
                        <input type="email" id="email" class="form-control form-control-lg" placeholder="Email"
                               th:name="email" th:value="*{email}" data-cy="email" th:classappend="${error} ? error-input"/>
                        <label class="invalid-feedback" th:text="${error}"></label>
                        <label class="info-label" th:text="${info}"></label>

                        <button type="submit" class="btn dark-button-md btn-lg btn-block">Submit</button>
                    </div>

                </form>
            </div>

        </div>
        <div th:insert="~{fragments/general.html :: general_footer}"></div>
    </body>
</html>