<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <link th:href="@{/css/loginStyles.css}" rel="stylesheet" type="text/css"/>
        <div th:insert="~{fragments/general.html :: general_header}"></div>



        <script th:inline="javascript">
            window.onload = function() {
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const token = urlParams.get('token');
                document.getElementById('token').value = token;
            }
        </script>

    </head>

    <body>
        <!-- Navbar fragment -->
        <div th:insert="~{fragments/navbars.html :: navbar}"></div>

        <div class="homepage-body">
            <h2>Reset Your Password:</h2>
            <div class="login-form-container">

<!--
                <div class="search-form-container">
                    <form th:action="@{lostPassword}" method="post" class="form" id="form">


                        <div class="form-outline">
                            <input type="email" id="email" class="form-control form-control-lg" placeholder="Email"
                                   th:name="email" th:value="*{email}" data-cy="email" th:classappend="${error} ? error-input"/>
                            <label class="error-label" th:text="${error}"></label>
                            <label class="info-label" th:text="${info}"></label>

                            <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
                        </div>

                    </form>
                </div>
           -->


                <form th:action="@{resetPassword}" method="post">

                    <div class="input-field">
                        <label for="newPass" class="requiredField">New Password</label>
                        <input type="password" id="newPass" placeholder="Enter your new password:" class="form-control form-control-lg"
                                th:name="newPass" th:value="*{newPass}" data-cy="password">
                        <label class="error-label" th:text="${invalidPassword}"></label>
                    </div>
              
                    <div class="input-field">
                        <label for="confirmPass" class="requiredField">Retype Password</label>
                        <input type="password" id="confirmPass" placeholder="Enter your new password:" class="form-control form-control-lg"
                                th:name="confirmPass" th:value="*{confirmPass}" data-cy="password">
                        <label class="error-label" th:text="${invalidConfirm}"></label>
                    </div> 

                    <div>
                        <input type="hidden" id="token" name="token" th:value="${token}" data-cy="token" th:utext="${token}">
                    </div>
              
                    <div class="flex-bottom-container">
                        <button type="submit" class="btn btn-secondary btn-lg btn-block">Reset Password</button>
                    </div>
              
                </form>
            </div>

        </div>
        <div th:insert="~{fragments/general.html :: general_footer}"></div>
    </body>
</html>