<!DOCTYPE html>
<html lang="en">
    <head>
        <link th:href="@{/css/loginStyles.css}" rel="stylesheet" type="text/css"/>
        <div th:insert="~{fragments/general.html :: general_header}"></div>
    </head>
    <body>
        <!-- Navbar fragment -->
        <!-- <header th:insert="fragments/general.html :: header" style="height: 73px;"></header> -->
        <!-- Navbar fragment -->
        <div th:insert="~{fragments/navbars.html :: navbar}"></div>

        <div class="homepage-body">
                        <span class="top-left">
                            <a th:href="@{/}" class="light-button-md">Cancel</a>
                        </span>
            <!-- Create an account "title" -->
            <div class="centered-text">
                <span class="tab-title">Change Password</span>
            </div>

            <h3 style="text-align:center;" th:text="${passwordInfo}"></h3>


            <div class="login-form-container">
                <form th:action="@{updatePassword}" method="post">

                    <div class="input-field">
                        <label for="oldPassword1" class="requiredField">Old Password</label>
                        <input type="password" id="oldPassword1" placeholder="Enter your current password:"
                               th:name="oldPassword" th:value="*{oldPassword}" data-cy="password">
                        <label class="error-label" th:text="${invalidCurrent}"></label>
                    </div>

                    <div class="input-field">
                        <label for="newPassword1" class="requiredField">New Password</label>
                        <input type="password" id="newPassword1" placeholder="Enter your new password:"
                               th:name="newPassword1" th:value="*{newPassword1}" data-cy="password">
                        <label class="error-label" th:text="${invalidPassword}"></label>
                    </div>

                    <div class="input-field">
                        <label for="newPassword2" class="requiredField">Retype Password</label>
                        <input type="password" id="newPassword2" placeholder="Enter your new password:"
                               th:name="newPassword2" th:value="*{newPassword2}" data-cy="password">
                        <label class="error-label" th:text="${invalidConfirm}"></label>
                    </div>

                    <div class="flex-bottom-container">
                        <button type="submit" class="dark-button-md">Change Password</button>
                    </div>

                </form>
            </div>


        </div>

        <div th:insert="~{fragments/general.html :: general_footer}"></div>

    </body>
</html>